[submodule "apps/app-example-lock"]
	path = apps/app-example-lock
	url = https://github.com/EMSBlock/app-example-lock
[submodule "apps/app-example-boilerplate"]
	path = apps/app-example-boilerplate
	url = https://github.com/EMSBlock/app-example-boilerplate
[submodule "app-dev-a"]
	path = app-dev-a
	url = https://github.com/EMSBlock/app-dev-a
